:root {
  --melon: hsla(9, 97%, 86%, 1);
  --pale-pink: hsla(9, 88%, 90%, 1);
  --misty-rose: hsla(8, 74%, 92%, 1);
  --isabelline: hsla(9, 48%, 95%, 1);
  --platinum: hsla(60, 8%, 90%, 1);
  --alabaster: hsla(144, 15%, 87%, 1);
  --linen: hsla(32, 31%, 89%, 1);
  --champagne-pink: hsla(19, 100%, 93%, 1);
  --peach-puff: hsla(25, 100%, 86%, 1);
  --peach-crayola: hsla(28, 98%, 80%, 1);
}

:root {
  --clr-primary-ft: #ffeae6;
  --clr-primary-lt: #fed4cd;
  --clr-primary-md: #f58470;
  --clr-primary-st: #f25b40;
  --clr-primary-dk: #db2e0f;
  --clr-secondary-lt: #fed6b3;
  --clr-secondary-md: #fdae68;
  --clr-secondary-dk: #fc7703;
  --clr-accent-lt: #d9e3dd;
  --clr-accent-md: #9eb7a8;
  --clr-accent-dk: #668a74;
  --clr-light-ft: #efefec;
  --clr-light-lt: #e8e8e3;
  --clr-light-md: #d0d0c8;
  --clr-light-dk: #b9b9ac;
  --clr-dark-lt: #828282;
  --clr-dark-md: dimgray;
  --clr-dark-dk: #363636;
}

:root {
  --rgb-primary-ft: 255, 234, 230;
  --rgb-primary-lt: 254, 212, 205;
  --rgb-primary-md: 245, 132, 112;
  --rgb-primary-st: 242, 91, 64;
  --rgb-primary-dk: 219, 46, 15;
  --rgb-secondary-lt: 254, 214, 179;
  --rgb-secondary-md: 253, 174, 104;
  --rgb-secondary-dk: 252, 119, 3;
  --rgb-accent-lt: 217, 227, 221;
  --rgb-accent-md: 158, 183, 168;
  --rgb-accent-dk: 102, 138, 116;
  --rgb-light-ft: 239, 239, 236;
  --rgb-light-lt: 232, 232, 227;
  --rgb-light-md: 208, 208, 200;
  --rgb-light-dk: 185, 185, 172;
  --rgb-dark-lt: 130, 130, 130;
  --rgb-dark-md: 105, 105, 105;
  --rgb-dark-dk: 54, 54, 54;
}

:root {
  --white:white;
  --error:var(--clr-primary-dk);
}