@charset "UTF-8";
@import "https://unpkg.com/open-props";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:where(html) {
  --link: var(--violet-4);
  --link-visited: var(--link);
  --text-1: var(--gray-9);
  --text-2: var(--gray-7);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);
  --scrollbar-color: var(--gray-7);
  --font-sans: Zen Kurenaido, Arial, helvetica, sans;
  accent-color: var(--link);
  -webkit-text-size-adjust: none;
  background-color: var(--surface-1);
  block-size: 100%;
  caret-color: var(--link);
  color: var(--text-2);
  color-scheme: light;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollbar-color) transparent;
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    --link: var(--indigo-3);
    --link-visited: var(--link);
    --text-1: var(--gray-1);
    --text-2: var(--gray-4);
    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);
    color-scheme: dark;
  }
}
.l-header-inner {
  display: contents;
}

.layout :where(h1, h2, h3, h4, h5, h6, dt) {
  color: var(--text-1);
}
.layout :where(a[href]) {
  color: var(--link);
}
.layout :where(a[href]):visited {
  color: var(--link-visited);
}
.layout :focus-visible {
  outline-color: var(--link);
}
@media (prefers-color-scheme: light) {
  .layout :where(html) {
    --scrollthumb-color: var(--gray-7);
  }
}
.layout *, .layout :after, .layout :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.layout :where(:not(dialog)) {
  margin: 0;
}
.layout :where(:not(fieldset, progress, meter)) {
  background-origin: border-box;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .layout :where(html) {
    scroll-behavior: smooth;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .layout :where(:focus-visible) {
    -webkit-transition: outline-offset 145ms var(--ease-2);
    transition: outline-offset 145ms var(--ease-2);
  }
  .layout :where(:not(:active):focus-visible) {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}
.layout :where(:not(:active):focus-visible) {
  outline-offset: 5px;
}
.layout :where(body) {
  min-block-size: 100%;
}
.layout :where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
}
.layout :where(h1) {
  font-size: var(--font-size-8);
  max-inline-size: var(--size-header-1);
}
.layout :where(h2) {
  font-size: var(--font-size-6);
  max-inline-size: var(--size-header-2);
}
.layout :where(h3) {
  font-size: var(--font-size-5);
}
.layout :where(h4) {
  font-size: var(--font-size-4);
}
.layout :where(h5) {
  font-size: var(--font-size-3);
}
.layout :where(h3, h4, h5, h6, dt) {
  max-inline-size: var(--size-header-3);
}
.layout :where(p, ul, ol, dl, h6) {
  font-size: var(--font-size-2);
}
.layout :where(a, u, ins, abbr) {
  text-underline-offset: 1px;
}
@supports (-moz-appearance: none) {
  .layout :where(a, u, ins, abbr) {
    text-underline-offset: 2px;
  }
}
.layout :where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.layout :where(a):where([href]) {
  text-decoration-color: var(--indigo-2);
}
.layout :where(a):where([href]):where(:visited) {
  text-decoration-color: var(--grape-2);
}
.layout :where(a):where(:not(:hover)) {
  text-decoration: inherit;
}
.layout :where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}
.layout :where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}
.layout :where(input, button, textarea, select), .layout :where(input[type=file])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}
.layout :where(input, textarea) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
}
.layout :where(select) {
  padding-block: 0.75ch;
  padding-inline: 1.25ch 0;
}
.layout :where(textarea, select, input:not(button, button[type], input[type=button], input[type=submit], input[type=reset])) {
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
}
@media (prefers-color-scheme: dark) {
  .layout :where(textarea, select, input:not(button, button[type], input[type=button], input[type=submit], input[type=reset])) {
    background-color: #171a1c;
  }
}
.layout :where(textarea) {
  resize: block;
}
.layout :where(input[type=checkbox], input[type=radio]) {
  block-size: var(--size-3);
  inline-size: var(--size-3);
}
.layout :where(svg) {
  stroke: none;
  fill: currentColor;
}
.layout :where(svg):where(:not([fill])) {
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.layout :where(svg):where(:not([width])) {
  inline-size: var(--size-10);
}
.layout :where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
}
.layout :where(:not(pre) > code, kbd) {
  white-space: nowrap;
}
.layout :where(pre) {
  max-inline-size: -webkit-max-content;
  max-inline-size: -moz-max-content;
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;
}
.layout :where(:not(pre) > code) {
  background: var(--surface-2);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
}
.layout :where(kbd, var) {
  border-color: var(--surface-4);
  border-radius: var(--radius-2);
  border-width: var(--border-size-1);
  padding: var(--size-1) var(--size-2);
}
.layout :where(mark) {
  border-radius: var(--radius-2);
  padding-inline: var(--size-1);
}
.layout :where(ol, ul) {
  -webkit-padding-start: var(--size-8);
          padding-inline-start: var(--size-8);
}
.layout :where(li) {
  -webkit-padding-start: var(--size-2);
          padding-inline-start: var(--size-2);
}
.layout :where(li, dd, figcaption) {
  max-inline-size: var(--size-content-2);
}
.layout :where(p) {
  max-inline-size: var(--size-content-3);
}
.layout :where(dt, summary) {
  font-weight: var(--font-weight-7);
}
.layout :where(dt:not(:first-of-type)) {
  -webkit-margin-before: var(--size-5);
          margin-block-start: var(--size-5);
}
.layout :where(small) {
  font-size: max(0.5em, var(--font-size-0));
  max-inline-size: var(--size-content-1);
}
.layout :where(hr) {
  background-color: var(--surface-3);
  height: var(--border-size-2);
  margin-block: var(--size-fluid-5);
}
.layout :where(figure) {
  display: -ms-grid;
  display: grid;
  gap: var(--size-2);
  place-items: center;
}
.layout :where(figure) > :where(figcaption) {
  font-size: var(--font-size-1);
}
.layout :where(blockquote, :not(blockquote) > cite) {
  border-inline-start-width: var(--border-size-3);
}
.layout :where(blockquote) {
  display: -ms-grid;
  display: grid;
  gap: var(--size-3);
  max-inline-size: var(--size-content-2);
  padding-block: var(--size-3);
  padding-inline: var(--size-4);
}
.layout :where(:not(blockquote) > cite) {
  -webkit-padding-start: var(--size-2);
          padding-inline-start: var(--size-2);
}
.layout :where(summary) {
  background: var(--surface-3);
  border-radius: var(--radius-2);
  margin: calc(var(--size-2) * -1) calc(var(--size-3) * -1);
  padding: var(--size-2) var(--size-3);
}
.layout :where(details) {
  background: var(--surface-2);
  border-radius: var(--radius-2);
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
}
.layout :where(details[open] > summary) {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  margin-bottom: var(--size-2);
}
.layout :where(fieldset) {
  border: var(--border-size-1) dashed var(--surface-4);
  border-radius: var(--radius-3);
}
.layout :where(del) {
  background: var(--red-9);
  color: var(--red-2);
}
.layout :where(ins) {
  background: var(--green-9);
  color: var(--green-1);
}
.layout :where(abbr) {
  text-decoration-color: var(--blue-5);
}
.layout :where(dialog) {
  background-color: var(--surface-1);
  border-radius: var(--radius-3);
  -webkit-box-shadow: var(--shadow-6);
          box-shadow: var(--shadow-6);
  color: inherit;
}
@media (prefers-color-scheme: dark) {
  .layout :where(dialog) {
    background-color: var(--surface-2);
  }
}
.layout :where(dialog)::-webkit-backdrop {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.layout :where(dialog)::backdrop {
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.layout :where(html[\:has\(dialog\[open\]\)]) {
  overflow: hidden;
}
.layout :where(html:has(dialog[open])) {
  overflow: hidden;
}
.layout :where(menu) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--size-3);
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.layout :where(sup) {
  font-size: 0.5em;
}

/*Fonts*/
@font-face {
  font-family: Zen Kurenaido;
  src: url("../fonts/ZenKurenaido-Regular-with-Ž.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

:where(input, button, textarea, select), :where(input[type=file])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

:where(input, textarea) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
}

:where(select) {
  padding-block: 0.75ch;
  padding-inline: 1.25ch 0;
}

:where(textarea, select, input:not(button, button[type], input[type=button], input[type=submit], input[type=reset])) {
  border-radius: var(--radius-2);
}

:where(textarea) {
  resize: block;
}

:where(input[type=checkbox], input[type=radio]) {
  block-size: var(--size-3);
  inline-size: var(--size-3);
}

:where(input[type=file])::-webkit-file-upload-button {
  --_accent: initial;
  --_text: initial;
  --_size: initial;
  --_bg-light: #fff;
  --_bg-dark: var(--surface-3);
  --_bg: var(--_bg-light);
  --_border: var(--surface-3);
  --_highlight-size: 0;
  --_highlight-light: hsl(210 10% 71%/25%);
  --_highlight-dark: hsl(210 10% 5%/25%);
  --_highlight: var(--_highlight-light);
  --_ink-shadow-light: 0 1px 0 var(--gray-3);
  --_ink-shadow-dark: 0 1px 0 var(--surface-1);
  --_ink-shadow: var(--_ink-shadow-light);
  --_icon-size: 2ch;
  --_icon-color: var(--_accent,var(--link));
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-box-align: center;
          align-items: center;
  background: var(--_bg);
  border: var(--border-size-2) solid var(--_border);
  border-radius: var(--radius-2);
  -webkit-box-shadow: var(--shadow-2), 0 1px var(--surface-3), 0 0 0 var(--_highlight-size) var(--_highlight);
          box-shadow: var(--shadow-2), 0 1px var(--surface-3), 0 0 0 var(--_highlight-size) var(--_highlight);
  color: var(--_text);
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: var(--_size);
  font-weight: var(--font-weight-7);
  gap: var(--size-2);
  -webkit-box-pack: center;
          justify-content: center;
  padding-block: 0.75ch;
  padding-inline: 1.75ch;
  text-align: center;
  text-shadow: var(--_ink-shadow);
  -webkit-transition: border-color 0.5s var(--ease-3) 3s;
  transition: border-color 0.5s var(--ease-3) 3s;
  -webkit-user-select: none;
          user-select: none;
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset]), :where(input[type=file])::-webkit-file-upload-button, :where(input[type=file])::file-selector-button {
  --_accent: initial;
  --_text: initial;
  --_size: initial;
  --_bg-light: #fff;
  --_bg-dark: var(--surface-3);
  --_bg: var(--_bg-light);
  --_border: var(--surface-3);
  --_highlight-size: 0;
  --_highlight-light: hsl(210 10% 71%/25%);
  --_highlight-dark: hsl(210 10% 5%/25%);
  --_highlight: var(--_highlight-light);
  --_ink-shadow-light: 0 1px 0 var(--gray-3);
  --_ink-shadow-dark: 0 1px 0 var(--surface-1);
  --_ink-shadow: var(--_ink-shadow-light);
  --_icon-size: 2ch;
  --_icon-color: var(--_accent,var(--link));
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-box-align: center;
          align-items: center;
  background: var(--_bg);
  border: var(--border-size-2) solid var(--_border);
  border-radius: var(--radius-2);
  -webkit-box-shadow: var(--shadow-2), 0 1px var(--surface-3), 0 0 0 var(--_highlight-size) var(--_highlight);
          box-shadow: var(--shadow-2), 0 1px var(--surface-3), 0 0 0 var(--_highlight-size) var(--_highlight);
  color: var(--_text);
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: var(--_size);
  font-weight: var(--font-weight-7);
  gap: var(--size-2);
  -webkit-box-pack: center;
          justify-content: center;
  padding-block: 0.75ch;
  padding-inline: 1.75ch;
  text-align: center;
  text-shadow: var(--_ink-shadow);
  -webkit-transition: border-color 0.5s var(--ease-3) 3s;
  transition: border-color 0.5s var(--ease-3) 3s;
  -webkit-user-select: none;
          user-select: none;
}

@media (prefers-color-scheme: dark) {
  :where(input[type=file])::-webkit-file-upload-button {
    --_highlight: var(--_highlight-dark);
    --_bg: var(--_bg-dark);
    --_ink-shadow: var(--_ink-shadow-dark);
  }
  :where(button, button[type], input[type=button], input[type=submit], input[type=reset]), :where(input[type=file])::-webkit-file-upload-button, :where(input[type=file])::file-selector-button {
    --_highlight: var(--_highlight-dark);
    --_bg: var(--_bg-dark);
    --_ink-shadow: var(--_ink-shadow-dark);
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(input[type=file])::-webkit-file-upload-button {
    -webkit-transition: border-color 0.5s var(--ease-3) 3s, -webkit-box-shadow 145ms var(--ease-4);
    transition: border-color 0.5s var(--ease-3) 3s, -webkit-box-shadow 145ms var(--ease-4);
    transition: border-color 0.5s var(--ease-3) 3s, box-shadow 145ms var(--ease-4);
    transition: border-color 0.5s var(--ease-3) 3s, box-shadow 145ms var(--ease-4), -webkit-box-shadow 145ms var(--ease-4);
  }
  :where(button, button[type], input[type=button], input[type=submit], input[type=reset]), :where(input[type=file])::-webkit-file-upload-button, :where(input[type=file])::file-selector-button {
    -webkit-transition: border-color 0.5s var(--ease-3) 3s, -webkit-box-shadow 145ms var(--ease-4);
    transition: border-color 0.5s var(--ease-3) 3s, -webkit-box-shadow 145ms var(--ease-4);
    transition: border-color 0.5s var(--ease-3) 3s, box-shadow 145ms var(--ease-4);
    transition: border-color 0.5s var(--ease-3) 3s, box-shadow 145ms var(--ease-4), -webkit-box-shadow 145ms var(--ease-4);
  }
}
:where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
  --_bg: none;
  --_text: var(--gray-6);
  -webkit-box-shadow: var(--shadow-1);
          box-shadow: var(--shadow-1);
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  :where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
    --_text: var(--gray-5);
  }
}
:where(button, button[type], input[type=button], input[type=submit], input[type=reset]):where(:not(:active):hover) {
  --_highlight-size: var(--size-2);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset]) > :where(svg) {
  block-size: var(--_icon-size);
  -webkit-filter: drop-shadow(var(--_ink-shadow));
          filter: drop-shadow(var(--_ink-shadow));
  -ms-flex-negative: 0;
      flex-shrink: 0;
  inline-size: var(--_icon-size);
}

:where(button, button[type], input[type=button], input[type=submit], input[type=reset]) > :where(svg > *) {
  stroke: var(--_icon-color);
  stroke-width: var(--border-size-2);
}

:where([type=submit], form button:not([type], [disabled])) {
  --_text: var(--_accent,var(--link));
}

:where([type=reset]) {
  --_text: var(--red-6);
  --_border: var(--red-3);
}

:where([type=reset]):focus-visible {
  outline-color: var(--red-6);
}

@media (prefers-color-scheme: dark) {
  :where([type=reset]) {
    --_text: var(--red-2);
    --_border: var(--surface-3);
  }
}
:where([type=submit], [type=reset], form button:not([type])):is(:hover, :focus-visible):not([disabled]) {
  --_border: currentColor;
}

:where(input[type=file]) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: var(--border-size-1) solid var(--surface-2);
  border-radius: var(--radius-2);
  -webkit-box-shadow: var(--inner-shadow-4);
          box-shadow: var(--inner-shadow-4);
  color: var(--text-2);
  cursor: auto;
  max-inline-size: 100%;
  padding: 0;
}

:where(input[type=file])::-webkit-file-upload-button {
  cursor: pointer;
  -webkit-margin-end: 1.75ch;
          margin-inline-end: 1.75ch;
}

:where(input[type=file])::-webkit-file-upload-button, :where(input[type=file])::file-selector-button {
  cursor: pointer;
  -webkit-margin-end: 1.75ch;
          margin-inline-end: 1.75ch;
}

@media (prefers-color-scheme: dark) {
  :where([disabled]), :where([type=reset]), :where([type=submit]), :where(form button:not([type=button])) {
    --_bg: var(--surface-1);
  }
}
:root {
  --page-width:clamp(21rem,calc(100vw - 5rem),90rem);
}

.page-width {
  width: var(--page-width);
}

#skip-link .element-invisible.element-focusable:active,
#skip-link .element-invisible.element-focusable:focus {
  position: absolute !important;
}

#skip-link .element-invisible {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.layout {
  background: var(--surface-2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0px auto;
  grid-template-rows: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding-bottom: clamp(2rem, 5vw, 5.5rem);
}

.layout h1, h2, h3, h4, .site-name {
  font-family: var(--font-sans);
  text-transform: uppercase;
  line-height: 0.8;
  margin-bottom: 0;
}

.site-name {
  font-size: clamp(3.5rem, 7vw, 5.5rem);
}
.site-name a:hover {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.layout header {
  margin-top: clamp(2rem, 5vw, 5.5rem);
  width: var(--page-width);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "title menu" "tagline menu" "links menu";
}
.layout header :where(a[href]) {
  color: var(--text-1);
}
.layout header :where(a[href]):visited {
  color: var(--text-1);
}

.tagline,
.site-slogan {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tagline;
  text-transform: uppercase;
  -webkit-padding-start: 0.15em;
          padding-inline-start: 0.15em;
}

.links {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: links;
}
.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.links li {
  color: var(--text-1);
  padding-left: 0;
}
.links li a {
  margin-top: 1em;
  display: inline-block;
  color: var(--text-1);
}
.links li a:before {
  font-size: clamp(2.5rem, 5vw, 3rem);
  display: inline-block;
}
.links li a:hover {
  color: var(--link);
}

.instagram a,
.spotify a,
.tidal a,
.discogs a,
.allmusic a {
  margin-top: -1rem;
  font-size: 0 !important;
}
.instagram a:before,
.spotify a:before,
.tidal a:before,
.discogs a:before,
.allmusic a:before {
  font-family: FontAwesome;
}

article {
  background: var(--surface-3);
  margin-top: 0;
  padding-inline: var(--size-4);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
}

.layout :where(input, textarea) {
  margin-block: var(--size-3);
  margin-inline: var(--size-1);
  max-width: 100%;
}

form#user-login {
  background: var(--surface-3);
  padding-inline: var(--size-4);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .links ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .links ul :where(a[href]):visited,
footer .links ul :where(a[href]) {
  color: var(--text-1);
}
footer .links ul a {
  line-height: 1em;
}
footer .links ul a:before {
  font-size: var(--font-size-fluid-1);
}
footer .links ul a:hover {
  color: var(--link);
}

.instagram a:before {
  content: "\f16d";
}

.spotify a:before {
  content: "\f1bc";
}

.tidal a:before {
  content: "\f58f";
}

.discogs a:before {
  content: "\f51f";
}

.allmusic a:before {
  content: "\e585";
}

.block-system-main-menu,
.menu-main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  text-transform: uppercase;
  grid-area: menu;
}
.block-system-main-menu ul,
.menu-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.block-system-main-menu .leaf a,
.menu-main .leaf a {
  color: var(--text-1);
}
.block-system-main-menu .leaf a:hover,
.menu-main .leaf a:hover {
  -webkit-animation: var(--animation-blink);
          animation: var(--animation-blink);
  text-decoration: underline;
  text-decoration-color: var(--grape-2);
}
.block-system-main-menu .leaf a.active,
.menu-main .leaf a.active {
  font-weight: bolder;
  text-decoration: underline;
}
.block-system-main-menu .leaf a.active:hover,
.menu-main .leaf a.active:hover {
  font-weight: bolder;
}

.l-wrapper {
  width: var(--page-width);
}
.l-wrapper h1 {
  margin-bottom: 0.1em;
}

.l-top {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.l-top h1 {
  font-size: var(--font-size-4);
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
.l-top .block-layout-custom-block {
  background: var(--surface-1);
  margin-top: 0;
  padding-inline: var(--size-4);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
}

@-webkit-keyframes become-clickable {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}

@keyframes become-clickable {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
  }
}
.block-views-releases-block-1 .view-content {
  margin-top: 2rem;
  margin-bottom: clamp(2rem, 5vw, 5.5rem);
  width: var(--page-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(0.9rem, 4vw, 1.5rem);
}
.block-views-releases-block-1 a[href] {
  -ms-touch-action: inherit;
      touch-action: inherit;
  pointer-events: inherit;
}
.block-views-releases-block-1 .tile {
  text-align: center;
  color: var(--gray-5);
  background: var(--gray-9);
  line-height: 1.5;
  width: clamp(7rem, 27vw, 17rem);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1.2fr auto auto auto 0.98fr;
  grid-template-rows: 1.2fr auto auto auto 0.98fr;
  -webkit-box-shadow: var(--shadow-3);
          box-shadow: var(--shadow-3);
  box-shadow: var(--shadow-3);
  font-size: clamp(0.9rem, 2vw, 1.16rem);
}
.block-views-releases-block-1 .tile > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.block-views-releases-block-1 .tile > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.block-views-releases-block-1 .tile > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.block-views-releases-block-1 .tile > *:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.block-views-releases-block-1 .tile > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.block-views-releases-block-1 .tile > div,
.block-views-releases-block-1 .tile > span {
  display: contents;
}
.block-views-releases-block-1 .tile > div .field-content {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: -200;
  pointer-events: none;
}
.block-views-releases-block-1 .tile:focus-within .field-content, .block-views-releases-block-1 .tile:hover .field-content {
  z-index: 200;
  -webkit-animation: become-clickable 1ms both;
          animation: become-clickable 1ms both;
  opacity: 1;
}
.block-views-releases-block-1 .tile:focus-within img, .block-views-releases-block-1 .tile:hover img {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  z-index: 0;
}
.block-views-releases-block-1 .tile.empty, .block-views-releases-block-1 .tile:empty {
  height: 0;
  -webkit-box-ordinal-group: 1000;
      -ms-flex-order: 999;
          order: 999;
}
.block-views-releases-block-1 img {
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 1/-1;
  grid-column: 1/-1;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
.block-views-releases-block-1 .artist {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 1/-1;
  color: var(--gray-1);
  text-transform: uppercase;
  -ms-grid-row-align: end;
      align-self: end;
}
.block-views-releases-block-1 .title {
  padding-inline: 0.5em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  letter-spacing: -0.04em;
  color: var(--gray-1);
}
.block-views-releases-block-1 .credit {
  color: var(--gray-5);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1/-1;
}
.block-views-releases-block-1 .listen {
  grid-row: 4/-1;
  grid-column: 1/-1;
}
.block-views-releases-block-1 .listen a {
  text-decoration: underline;
  font-style: italic;
  color: white;
}
.block-views-releases-block-1 .listen a:hover,
.block-views-releases-block-1 .listen a:focus {
  text-decoration: none;
}

.views-field-nothing .views-field,
.block-views-releases-block .views-field,
.field-content.image {
  display: contents;
}

.releases-page .views-table img {
  width: 100px;
}

#views-form-releases-page-1 > div {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#edit-save-order {
  margin: var(--size-3);
}

.tabledrag-toggle-weight-wrapper {
  width: 100%;
  text-align: center;
}

.views-table {
  margin-right: 3em;
  padding-right: 1em;
  margin-block: var(--size-8);
  padding-block: var(--size-3);
  background: var(--surface-3);
  border-radius: var(--radius-3);
}
.views-table td,
.views-table .views-field-delete-node,
.views-table .views-field-edit-node {
  padding-left: 1em;
}
.views-table tr.even, .views-table tr.odd {
  background: var(--surface-3);
}

.l-footer-inner {
  margin-top: 2rem;
  margin-bottom: clamp(2rem, 5vw, 5.5rem);
  width: var(--page-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.l-footer-inner .contact, .l-footer-inner .follow {
  width: 33%;
}
.l-footer-inner .follow {
  width: 33%;
  border-inline: 0.25rem solid var(--gray-9);
  margin-inline: 2rem;
  padding-inline: 2rem;
}
.l-footer-inner .info {
  width: 34%;
}
.l-footer-inner h3, .l-footer-inner h2 {
  font-size: calc(1.5vw + 0.5rem);
  margin-bottom: 1em;
}
.l-footer-inner > * {
  text-align: center;
}

.layout :where(input, textarea) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  margin-block: var(--size-3);
  margin-inline: var(--size-1);
  max-width: 100%;
}

form#user-login {
  background: var(--surface-3);
  padding-inline: var(--size-4);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

fieldset.form-wrapper {
  background: var(--surface-1);
  margin-block: var(--size-3);
}

.fieldset-legend {
  background: var(--gray-8);
  color: var(--gray-1);
}

.fieldset-legend a {
  background: var(--gray-8);
  color: var(--gray-1);
}

.menu-overview-form {
  background: var(--surface-1);
  padding-inline: var(--size-4);
  padding-block: var(--size-3);
  border-radius: var(--radius-3);
}

nav.tabs {
  margin-top: var(--size-4);
}

.dropbutton-arrow:before {
  content: "more";
}

.action-links {
  font-size: var(--font-size-fluid-2);
}

tr.even, tr.odd {
  background: var(--surface-3);
}

ul.primary li.active a {
  background: var(--surface-3);
}

ul.primary li a {
  background: var(--surface-1);
}

.js .dropbutton-widget {
  background-color: var(--surface-2);
  border: 1px solid #cccccc;
  margin-inline: 0.5em;
}

.js .dropbutton-toggle button {
  height: 90%;
}

.js .dropbutton button:hover, .js .dropbutton a:hover, .js .dropbutton button:focus, .js .dropbutton a:focus {
  background-color: var(--surface-2);
}

.dropbutton-arrow {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 0.3333em 0.3333em 0;
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 30%;
  top: 50%;
  margin-top: -0.1666em;
  width: 0;
  overflow: hidden;
}

.tabledrag-toggle-weight-wrapper {
  text-align: center;
}

.layout :where(textarea) {
  background: var(--surface-2);
}

#system-site-information-settings :where(input, textarea) {
  background: var(--surface-3);
}

.form-wrapper > .form-item > label {
  font-size: var(--font-size-4);
  margin-top: var(--size-3);
  text-decoration: underline;
}

.node-form {
  background: var(--surface-3);
  padding: var(--size-3);
  border-radius: var(--radius-2);
}

.node-form :where(fieldset) {
  border: none;
  border-radius: var(--radius-3);
}

ul.vertical-tabs-list {
  margin-right: var(--size-4);
}

.vertical-tab-item {
  background: none;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--surface-2);
}

.vertical-tab-link {
  color: var(--link);
}

.vertical-tab-link:hover {
  outline: none;
  background: var(--surface-2);
}

.vertical-tab-selected.vertical-tab-item {
  background-color: var(--surface-4);
  border-right-width: 0;
}

.vertical-tab-selected.vertical-tab-item .vertical-tab-link {
  background: var(--surface-2);
}

.vertical-tab-selected strong, .vertical-tab-selected .fieldset-legend {
  color: var(--grape-4);
}

.vertical-tabs-pane {
  border-bottom: none;
  padding-bottom: var(--size-1);
}

.vertical-tabs-pane > .vertical-tab-link {
  background: var(--surface-2);
}

.vertical-tabs-pane.vertical-tab-selected > .vertical-tab-link {
  background: transparent;
  border-bottom: none;
}

a:visited.form-cancel,
a.form-cancel,
a:visited.button,
a.button {
  padding: var(--size-1) var(--size-2);
  margin: var(--size-1) var(--size-2);
  border-radius: var(--radius-2);
  background: var(--link);
  color: var(--surface-1);
}

a:hover.form-cancel,
a:hover.button {
  background: var(--grape-4);
}