:root{
--melon: hsla(9, 97%, 86%, 1);
--pale-pink: hsla(9, 88%, 90%, 1);
--misty-rose: hsla(8, 74%, 92%, 1);
--isabelline: hsla(9, 48%, 95%, 1);
--platinum: hsla(60, 8%, 90%, 1);
--alabaster: hsla(144, 15%, 87%, 1);
--linen: hsla(32, 31%, 89%, 1);
--champagne-pink: hsla(19, 100%, 93%, 1);
--peach-puff: hsla(25, 100%, 86%, 1);
--peach-crayola: hsla(28, 98%, 80%, 1);
}

$colors: (
  primary: (
    lt: hsl(9, 97%, 90%),
    md: hsl(9, 87%, 70%),
    dk: hsl(9, 77%, 36%),
  ),
  secondary: (
    lt: hsl(28, 98%, 85%),
    md: hsl(28, 98%, 70%),
    dk: hsl(28, 98%, 50%),
  ),
  accent: (
    lt: hsl(144, 15%, 87%),
    md: hsl(144, 15%, 67%),
    dk: hsl(144, 15%, 47%),
  ),
  light: (
    lt: hsl(60, 8%, 90%),
    md: hsl(60, 8%, 80%),
    dk: hsl(60, 8%, 70%),
  ),
  dark: (
    lt: hsl(60, 0%, 51%),
    md: hsl(60, 0%, 41%),
    dk: hsl(60, 0%, 21%),
  ),
);

:root{
  @each $color, $shades in $colors{
    @each $shade, $value in $shades{
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}

@function rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root{
  @each $color, $shades in $colors{
    @each $shade, $value in $shades{
      --rgb-#{$color}-#{$shade}: #{rgb($value)};
    }
  }
}

:root{
  --white:white;
  --error:var(--clr-primary-dk);
}
