:where(a[href],area,button,input,label[for],select,summary,textarea,[tabindex]:not([tabindex*="-"])) {
	// cursor: pointer;
	touch-action: manipulation;
}

:where(input,button,textarea,select),:where(input[type=file])::-webkit-file-upload-button {
	color: inherit;
	font: inherit;
	font-size: inherit;
	letter-spacing: inherit;
}

:where(input,textarea) {
	padding-block: var(--size-1);
	padding-inline: var(--size-2);
}

:where(select) {
	padding-block: .75ch;
	padding-inline: 1.25ch 0;
}

:where(textarea,select,input:not(button,button[type],input[type=button],input[type=submit],input[type=reset])) {
	border-radius: var(--radius-2);
}

:where(textarea) {
	resize: block;
}

:where(input[type=checkbox],input[type=radio]) {
	block-size: var(--size-3);
	inline-size: var(--size-3);
}
