@use '../scss/reset';
@use '../scss/normalize';
// @use '../scss/color';
@use '../scss/fonts';
@use '../scss/input';
@use '../scss/buttons';
@import '../scss/breakpoints';
@import "https://unpkg.com/open-props";

:root{
  --page-width:clamp(21rem,calc(100vw - 5rem),90rem);
}

.page-width{
  width:var(--page-width)
}

#skip-link .element-invisible.element-focusable:active,
#skip-link .element-invisible.element-focusable:focus {
  position: absolute !important;
}
#skip-link .element-invisible{
  min-width:fit-content;
}

.layout{ // layout
  background: var(--surface-2);
  display:grid;
  grid-template-rows:0px auto;
  align-items:center;
  justify-items: center;
  min-height:100vh;
  padding-bottom: clamp(2rem, 5vw, 5.5rem);
}

.layout h1, h2, h3, h4, .site-name{
  font-family:var(--font-sans);
  text-transform:uppercase;
  line-height: 0.8;
  margin-bottom: 0;
}

.site-name{
  font-size:clamp(3.5rem, 7vw, 5.5rem);
	a:hover{
		text-decoration:none;
	}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.layout header{
  margin-top:clamp(2rem, 5vw, 5.5rem);
  width:var(--page-width);
  display:grid;
  align-items:center;
  grid-template-areas:
    "title menu"
    "tagline menu"
    "links menu"
		;
	:where(a[href]) {
		color: var(--text-1);
	}
	:where(a[href]):visited {
		color: var(--text-1);
	}
}

.tagline,
.site-slogan{
  grid-area:tagline;
  text-transform:uppercase;
  padding-inline-start:0.15em;
}

.links {
  grid-area:links;
  ul {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
  }
  li{
    color:var(--text-1);
    padding-left:0;
		a{
      margin-top:1em;
      display:inline-block;
      color:var(--text-1);
		  &:before{
        font-size:clamp(2.5rem,5vw,3rem);
		    display:inline-block;
		  }
		  &:hover{
		    color:var(--link);
		  }
		}
	}
}

.instagram,
.spotify,
.tidal,
.discogs,
.allmusic{
  a{
  margin-top:-1rem;
  font-size:0!important;
  }
  a:before{
  	  font-family: FontAwesome;
  }
}

article{
    background:var(--surface-3);
    margin-top:0;
    padding-inline:var(--size-4);
    padding-block:var(--size-3);
    border-radius:var(--radius-2);
}

.layout :where(input, textarea) {
  margin-block: var(--size-3);
  margin-inline: var(--size-1);
  max-width:100%;
}

form#user-login{
    background:var(--surface-3);
    padding-inline:var(--size-4);
    padding-block:var(--size-3);
    border-radius:var(--radius-3);
    align-self:center;
}

footer .links{
  ul{
    justify-content: center;
    :where(a[href]):visited,
    :where(a[href]) {
      color: var(--text-1);
    }
    a{
      line-height:1em;
      &:before{
        font-size:var(--font-size-fluid-1);
      }
      &:hover{
  		  color:var(--link);
      }
    }
  }
}


.instagram a:before{content:'\f16d';}
.spotify a:before{content:'\f1bc'}
.tidal a:before{content:'\f58f'}
.discogs a:before{content:'\f51f'}
.allmusic a:before{content:'\e585'}


.block-system-main-menu,
.menu-main{
  text-transform:uppercase;
  grid-area:menu;
  ul{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:1rem;
  }
  .leaf a{
    color:var(--text-1);
    &:hover{
      animation: var(--animation-blink);
			text-decoration:underline;
			text-decoration-color: var(--grape-2);
    }
		&.active{
			font-weight:bolder;
			text-decoration:underline;
		}
		&.active:hover{
			font-weight:bolder;
		}
  }
}

.l-wrapper{
	width:var(--page-width);
	h1{
		margin-bottom:0.1em;
	}
}

.l-top{
  display:grid;
  justify-items:center;
  h1{
    font-size:var(--font-size-4);
    text-align:center;
    line-height:1.2;
    margin-bottom:0.5em;
  }
  .block-layout-custom-block{
    background:var(--surface-1);
    margin-top:0;
    padding-inline:var(--size-4);
    padding-block:var(--size-3);
    border-radius:var(--radius-2);
  }
}

// .block-views-releases-block .view-content,
.block-views-releases-block-1{
  .view-content{
    margin-top:2rem;
    margin-bottom: clamp(2rem, 5vw, 5.5rem);
    width:var(--page-width);
    display:flex;
    flex-wrap:wrap;
    gap:clamp(0.9rem,4vw,1.5rem);
  }
  .tile{
    text-align:center;
    color: var(--gray-5);
    background:var(--gray-9);
    line-height: 1.5;
    width:clamp(7rem, calc(27vw), 17rem);
    flex-grow:1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr auto auto auto 0.98fr;
    box-shadow: var(--shadow-3);
    box-shadow:var(--shadow-3);
    font-size: clamp(0.9rem,2vw,1.16rem);
    >div,
    >span{
      display:contents
    }
    >div .field-content{
      opacity: 0;
      transition: opacity 0.5s;
      z-index: -200;
      pointer-events: none;
    }
    &:focus-within,
    &:hover{
      .field-content{
        z-index:200;
        pointer-events: auto;
        opacity:1;
      }
    }
    &:focus-within img,
    &:hover img{
      filter: brightness(0.2);
      z-index:0;
        }
    &.empty,
    &:empty{
      height:0;
      order:999;
    }
  }
  img{
    aspect-ratio: 1/1;
    width: 100%;
    object-fit:cover;
    grid-row:1/-1;
    grid-column:1/-1;
    transition: filter 0.5s;
  }
  .artist {
    grid-row:1/2;
    grid-column:1/-1;
    color:var(--gray-1);
    // size:var(--font-size-3);
    text-transform:uppercase;
    align-self: end;
  }
  .title {
    padding-inline:0.5em;
    grid-row:2/3;
    grid-column:1/-1;
    letter-spacing: -0.04em;
    color:var(--gray-1);
  }
  .credit{
    color:var(--gray-5);
    // font-size:calc(var(--font-size-3) - 0.1vw);
    grid-row:3/4;
    grid-column:1/-1;
  }
  .listen{
    // font-size:calc(var(--font-size-3) - 0.1vw);
    grid-row:4/-1;
    grid-column:1/-1;
    a{
      text-decoration:underline;
      font-style:italic;
      color:white;
    }
    a:hover,
    a:focus{
      text-decoration:none;
    }
  }
}

.views-field-nothing .views-field,
.block-views-releases-block .views-field,
.field-content.image{
  display:contents;
}

// Releases Views Page

.releases-page .views-table img{
  width:100px;
}

#views-form-releases-page-1>div{
  display:grid;
  justify-items:center;
}

#edit-save-order{
  margin:var(--size-3);
}
.tabledrag-toggle-weight-wrapper{
  width:100%;
  text-align:center;
}

.views-table{
  margin-right:3em;
  padding-right:1em;
  margin-block:var(--size-8);
  padding-block:var(--size-3);
  background:var(--surface-3);
  border-radius:var(--radius-3);
  td,
  .views-field-delete-node,
  .views-field-edit-node{
    padding-left:1em;
  }

  tr.even, tr.odd{
    background:var(--surface-3);
  }
}

.l-footer-inner{
  margin-top:2rem;
  margin-bottom: clamp(2rem, 5vw, 5.5rem);
  width:var(--page-width);
  display: flex;
  align-items:stretch;
  .contact, .follow{
    width:33%;
  }
  .follow{
    width:33%;
    border-inline: 0.25rem solid var(--gray-9);
    margin-inline: 2rem;
    padding-inline: 2rem;

  }
  .info{
    width:34%;
  }
  h3, h2{
    font-size: calc(1.5vw + 0.5rem);
    margin-bottom:1em;
  }
  >*{
      text-align:center;
  }
}

// Extra stuff for admin packages

.layout :where(input, textarea) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  margin-block: var(--size-3);
  margin-inline: var(--size-1);
  max-width:100%;
}

form#user-login{
    background:var(--surface-3);
    padding-inline:var(--size-4);
    padding-block:var(--size-3);
    border-radius:var(--radius-3);
    align-self:center;
}

fieldset.form-wrapper{
  background:var(--surface-1);
  margin-block:var(--size-3);
}
.fieldset-legend{
  background:var(--gray-8);
  color:var(--gray-1);
}

.fieldset-legend a{
  background:var(--gray-8);
  color:var(--gray-1);
}

.menu-overview-form{
  background:var(--surface-1);
  padding-inline:var(--size-4);
  padding-block:var(--size-3);
  border-radius:var(--radius-3);
}

nav.tabs{
  margin-top:var(--size-4);
}

.dropbutton-arrow:before{
  content:'more';
}

.action-links{
  font-size:var(--font-size-fluid-2);
}

tr.even, tr.odd{
    background:var(--surface-3);
  }

ul.primary li.active a{
  background:var(--surface-3);
}

ul.primary li a{
  background:var(--surface-1);
}

.js .dropbutton-widget {
  background-color: var(--surface-2);
  border: 1px solid #cccccc;
  margin-inline: 0.5em;
}

.js .dropbutton-toggle button{
  height:90%;
}

.js .dropbutton button:hover, .js .dropbutton a:hover, .js .dropbutton button:focus, .js .dropbutton a:focus {
  background-color: var(--surface-2);
}

.dropbutton-arrow {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 0.3333em 0.3333em 0;
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 30%;
  top: 50%;
  margin-top: -0.1666em;
  width: 0;
  overflow: hidden;
}

.tabledrag-toggle-weight-wrapper{
  text-align:center;
}

.layout :where(textarea) {
  background:var(--surface-2)
}

#system-site-information-settings :where(input,textarea) {
  background:var(--surface-3)
}

.form-wrapper>.form-item>label{
  font-size:var(--font-size-4);
  margin-top:var(--size-3);
  text-decoration:underline;
}

.node-form{
  background: var(--surface-3);
  padding: var(--size-3);
  border-radius:var(--radius-2)
}

.node-form :where(fieldset) {
  border: none;
  border-radius: var(--radius-3);
}

ul.vertical-tabs-list{
  margin-right:var(--size-4);
}

.vertical-tab-item{
  background:none;
  margin-bottom:0.5rem;
  border-bottom: 1px solid var(--surface-2);
}


.vertical-tab-link{
  color:var(--link);
}

.vertical-tab-link:hover {
  outline: none;
  background:var(--surface-2)
}

.vertical-tab-selected.vertical-tab-item {
  background-color: var(--surface-4);
  border-right-width: 0;
}

.vertical-tab-selected.vertical-tab-item .vertical-tab-link{
  background: var(--surface-2);

}

.vertical-tab-selected strong, .vertical-tab-selected .fieldset-legend {
  color: var(--grape-4);
}

.vertical-tabs-pane{
  border-bottom:none;
  padding-bottom:var(--size-1);
}

.vertical-tabs-pane > .vertical-tab-link {
  background: var(--surface-2);
}

.vertical-tabs-pane.vertical-tab-selected > .vertical-tab-link {
  background: transparent;
  border-bottom: none;
}

a:visited.form-cancel,
a.form-cancel,
a:visited.button,
a.button{
  padding:var(--size-1) var(--size-2);
  margin:var(--size-1) var(--size-2);
  border-radius:var(--radius-2);
  background:var(--link);
  color:var(--surface-1);
}

a:hover.form-cancel,
a:hover.button{
  background:var(--grape-4);
}
