@use 'sass:map';

$breakpoints: (
  small: 24em,
  medium: 32em,
  large: 48em
);

@mixin max($key) {
  $size: map.get($breakpoints, $key);
  @media (max-width:$size) {
    @content;
  }
}

.view-content{
    @include max(medium){
      grid-template-columns:1fr 1fr;
      padding:0.5rem
    }
    @include max(small) {
      display:flex;
    }
  }
